<div class="container mx-auto p-4 flex flex-col lg:flex-row">
  <!-- Left Flexbox: Tour Details and Map -->
  <div class="lg:w-3/4 p-4">
    <h1 class="text-3xl font-bold mb-6">Tour Details</h1>
    <div *ngIf="tour">
      <h2 class="text-2xl font-semibold mb-2">{{ tour.name }}</h2>
      <div *ngIf="tour.clubName && tour.clubPhoto" class="mb-6 flex items-center">
        <p class="text-md font-semibold mr-2">Organized by:</p>
        <img [src]="tour.clubPhoto" alt="{{ tour.clubName }}" class="w-8 h-8 rounded-full mr-2">
        <p class="text-md font-semibold">{{ tour.clubName }}</p>
      </div>
      <p class="mb-2"><strong>Date:</strong> {{ tour.date }}</p>
      <p class="mb-2"><strong>Description:</strong> {{ tour.description }}</p>
      <p class="mb-2"><strong>Difficulty:</strong> {{ tour.difficulty }}</p>
      <p class="mb-2"><strong>Participants:</strong> {{ tour.maxParticipants }}</p>
      <app-map [gpxContent]="tour.gpxContent" class="mt-4"></app-map>
    </div>
  </div>

  <!-- Right Flexbox: Apply Button and Participants List -->
  <div class="lg:w-1/4 p-4 flex flex-col items-center">
    <button
      *ngIf="isHiker"
      [disabled]="hasApplied"
      [ngClass]="{'bg-gray-400 cursor-not-allowed': hasApplied, 'bg-blue-600 hover:bg-blue-700': !hasApplied}"
      class="mt-2 mb-2 py-2 px-4 text-white rounded focus:outline-none focus:ring-2 focus:ring-blue-500 w-full"
      (click)="applyForTour()"
    >
      Apply for the Tour
    </button>
    <div *ngIf="tour.participantsNames.length > 0" class="mt-4 w-full">
      <h3 class="text-xl font-semibold mb-2">Participants</h3>
      <ul>
        <li *ngFor="let participant of tour.participantsNames; let i = index" class="flex items-center mb-2">
          <img [src]="tour.participantsPhotos[i]" alt="{{ participant }}" class="w-8 h-8 rounded-full mr-2">
          <p class="text-md">{{ participant }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>